@import '~bootstrap/scss/bootstrap.scss';

html,
.App,
#root,
.auth-wrapper,
.auth-inner,
.container-fluid,
.row,
.col {
   width: 100%;
   height: 100%;
   padding: 0 !important;
}

.login-signup-card {
   width: 100%;
   height: 100%;
}
