@import '~bootstrap/scss/bootstrap.scss';
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');

.signin-form {
  width: 100%;
  height: 100%;
  font-family: 'Roboto', sans-serif;
  display: table;

  &-container {
    width: 100%;
    top: 50%;
    display: table-cell;
    vertical-align: middle;
    text-align: center;
  }

  &-logo {
    background-image: url('../resources/logo.png');
    width: 50px;
    height: 50px;
    margin: auto;
    margin-bottom: 5px;
  }

  &-title {
    font-size: xx-large;
  }

  &-google-button-container {
    display: flex;
    justify-content: center;
  }

  &-google-button {
    margin: auto;
  }
}
